
:root {
    --background: #0E1111;
    --foreground: #E9DCC8;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* justify-content: center; */
    /* display: flex; */
    font-family: 'Iosevka Web', monospace;
}
body {
    background-color: var(--background);
    color: var(--foreground);
    background-image: 
        linear-gradient(rgba(18, 16, 16, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(18, 16, 16, 0.1) 1px, transparent 1px);
    background-size: 1px 1px;
    /* margin: 0; */
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

a {
    color: var(--foreground)
}

/* make links highlight on hover */
a:hover {
    background-color: var(--foreground);
    color: var(--background);
}

/* search bar */
input {
    background-color: var(--background);
    color: var(--foreground);
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--foreground);
    /* diplay: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    box-sizing: border-box;
}

@keyframes cursor-blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    /* background-color: rgba(14, 17, 17, 0.7); */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
}

.nav {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}
/* .nav button { */
    /* background-color: var(--background); */
    /* color: var(--foreground); */
    /* border: 1px solid var(--foreground); */
    /* padding: 5px 10px; */
    /* cursor: pointer; */
/* } */
/* .nav button:hover { */
    /* background-color: var(--foreground); */
    /* color: var(--background); */
/* } */
.nav a {
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--foreground);
    padding: 5px 10px;
    cursor: pointer;
}
.nav a:hover {
    background-color: var(--foreground);
    color: var(--background);
}
.title, .content, .footer {
    border: 1px solid var(--foreground);
    word-wrap: break-word;
    word-break: break-word;
    
}
.title {
    padding: 5px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
}
 /* make title look good */
.title h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2;
    flex-grow: 1;
    display: inline-flex; /* Change to inline-flex */
    align-items: center; /* Align items vertically */
}

.content {
    min-height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    overflow-y: auto;
}
.footer {
    padding: 5px;
    gap: 2px;
}
.title::after, .content::after, .footer::after {
    content: "";
    /* width: 10px; */
    /* height: 13px; */
    width: 0.6em;
    height: 1.2em;
    top: 0.1em;
    margin-left: 0.2em;
    position: relative;
    background: var(--foreground);
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}
.site-title {
    border: 1px solid var(--foreground);
    word-wrap: break-word;
    word-break: break-word;
    padding: 5px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
}
 /* make title look good */
.site-title h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2;
    flex-grow: 1;
    display: inline-flex; /* Change to inline-flex */
    align-items: center; /* Align items vertically */
}
.site-title h1::after {
    content: "";
    width: 0.6em;
    height: 1.2em;
    background: var(--foreground);
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
    margin-left: 0.2em;
}
#tag-buttons {
    margin-bottom: 20px;
}
.tag-button {
    background-color: var(--foreground);
    border: 1px solid var(--foreground);
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.tag-button.active {
    background-color: var(--background);
    color: var(--foreground);
}
.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.tags {
    margin-top: 5px;
    font-size: 0.8em;
    color: #666;
}

/* typing animation */

/* .site-title h1, */
/* .title h1, */
/* .content, */
/* .footer { */
  /* overflow: hidden; */
  /* border-right: .15em solid var(--foreground); */
  /* white-space: nowrap; */
  /* margin: 0 auto; */
  /* letter-spacing: .15em; */
  /* animation: */ 
    /* typing 3.5s steps(40, end), */
    /* blink-caret .75s step-end infinite; */
/* } */

.email::before {
  content: var(--email);
}
/* source code */
.kw { color: #c678dd; } /* Keyword */
.op { color: #56b6c2; } /* Operator */
.dv { color: #d19a66; } /* Decimal Value */

.sourceCode {
  /* background-color: #1E2326; /* Darker background for code blocks */ */
  /* border: 1px solid var(--foreground); */
  /* border-radius: 4px; */
  /* padding: 1em; */
  /* margin-bottom: 1em; */
  /* overflow-x: auto; */
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    
    .container {
        padding: 10px;
    }
    
    .nav {
        /* flex-direction: column; */
        /* align-items: stretch; */
    }
    
    .nav button {
        width: 100%;
    }
}
