<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>Ends of Lines</title>
  <link rel="icon" type="image/x-icon" href="/images/black_hole.ico"/>
  <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet"/>
  <link href="{{ get_url(path='css/terminal.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="container">
  <section class="section">
     <div class="nav">
      <a href="/">
       /home
      </a>
      <a href="{{ get_url(path='@/posts/_index.md') }}">
       /posts
      </a>
      <a href="https://github.com/Serif-7">
       /github
      </a>
      <!--
       <a href="{{ get_url(path='@/research/_index.md') }}">
       /research
      </a>
       -->
      <a href="https://endsoflines.substack.com/">
       /substack
      </a>
     </div>
      {% block content %}
      {% endblock content %}
       <div class="footer">
        > Send all comments to
        <b>
         serifblog@protonmail.com
        </b>
       </div>
  </section>
    </div>
</body>

</html>
