<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>Ends of Lines</title>
  <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet"/>
  <link href="{{ get_url(path='css/terminal.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="container">
  <section class="section">
     <div class="nav">
      <a href="/">
       /home
      </a>
      <!-- <a href="{{ get_url(path='@/blog/_index.md') }}"> -->
      <!-- <a href="/blog/"> -->
      <a href="{{ config.base_url }}/blog/">
       /posts
      </a>
      <!-- <a href="search.html"> -->
       <!-- /search -->
      <!-- </a> -->
      <!-- <a href="pdfs.html"> -->
       <!-- /pdfs -->
      <!-- </a> -->
      <a href="https://github.com/Serif-7">
       /github
      </a>
     </div>
      {% block content %}
      {% endblock content %}
       <div class="footer">
        > Send all comments to
        <b>
         serifblog@protonmail.com
        </b>
       </div>
  </section>
    </div>
</body>

</html>
